<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidhive"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="14" 
        android:targetSdkVersion="20"/>

    <application
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ikon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >


        <activity
            android:name="com.i206.olpriser.MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Product Activity -->
        <activity
            android:name="com.i206.olpriser.AllProductsActivity"
            android:label="@string/alle_utesteder" >
        </activity>

        <!-- Add Product Activity -->
        <activity
            android:name="com.i206.olpriser.NewProductActivity"
            android:label="@string/legg_til_utested" >
        </activity>

        <!-- Edit Product Activity -->
        <activity
            android:name="com.i206.olpriser.EditProductActivity"
            android:label="@string/endre_utested" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
